PORT=8081
ALLOWED_ORIGINS=*
DATABASE_URL="postgres://miden-source-code-verification:miden_source_code_verification_dev_password@localhost:5433/miden-source-code-verification"
API_COMPILE_URL=http://localhost:8080
